body{
		margin: 0px;
		padding:0px;
		font-family: 'Poiret One', sans-serif;
	}
	.section{
		width:100%;
		height:400px;
	}
	.header{
		background-color: #674599;
	}
	.section{
		width:100%;
		height:400px;
		text-align: center;
		margin-top: 3px;
		color:#FFFFFF;
	}
	.section .tile{
		width: 100%;
		height:100%;
	}
	.info{
		width:600px;
		height:100%;
		margin-left: auto;
		margin-right: auto;
		padding-top:25px;
		font-size: 24px;

	}

	.info a{
		color:#FFFFFF;
		font-size:50px;
		margin:25px;
		margin-top:50px;

	}

	.header .container{
		width:600px;
	}
	.container{
		height:400px;
		width:1000px;
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		overflow: hidden;
	}
	.who{
		background-color: #f2e090;
	}
	.what{
		background-color: #667799;
	}
	.where{
		background-color: #7a9460;
	}
	.when{
		background-color: #dd7788;
	}
	.why{
		background-color: #D9BFA8;
	}
	.how{

	}
	.letsgo{
		background-color: #F38FA9;
	}
	.week1{
		background-color: #D9B88F;
	}
	.week2{
		background-color: #7CD9CF;
	}
	.week3{
		background-color: #F5DA57;
	}
	.week4{
		background-color: #63B88F;
	}
	.week5{
		background-color: #8597AF;
	}
	.week6{
		background-color:#c6c5eb;
	}
	.week7{
		background-color: #c6a27e
	}
	.week8{
		background-color: #92e6a9;
	}
	
	.wait{
		background-color: #F44252;
	}

	h1{
		font-weight: 300;
		font-size: 200px;
		color:#FFFFFF;
		margin:0px;
		padding-bottom: 0;
	}
	.top{
		margin-top:0px;
		text-align: left;
		font-weight: 300;
		font-size: 50px;
		color:#FFFFFF;
		margin-bottom:-50px;
		margin-left: 100px;
	}
	.bottom{
		margin-top:-50px;
		text-align: right;
		font-weight: 300;
		font-size: 38px;
		color:#FFFFFF;
		margin-right: 105px;
	}
	.subheading{
		margin-top:15px;
		font-weight: 300;
		font-size: 47px;	
	}
	h2{
		margin-top:0px;
		font-weight: 300;
		font-size: 200px;
		margin-bottom: 0px
	}