body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    font-family: arial, sans-serif;
    font-size: 16pt;
}

.tile {
    text-align: center;
    vertical-align: middle;
    float: left;
    text-shadow:1px 1px #000000;
}

#header {
    height: 100px;
    background-color: #303030;
    padding-top: 20px;
    text-align: center;
}

#generate {
    background-color: #69B369;
    padding: 10px;
    width: 100px;
    margin: 10px auto;
}

.tile:hover {
    cursor: pointer;
}

#generate:hover {
    cursor: pointer;
    background-color: #76C476;
}